<% layout("/layouts/boilerplate") %>

<div class="flex-container pt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img class="img-flex img-restrained"
                src="https://images.unsplash.com/photo-1509927083803-4bd519298ac4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="">
        </div>
        <div class="col-sm-12 col-md-6 d-inline text-center my-auto">
            <h2>The Wedding of Grace and Nathan</h2>
            <p class="lead">15th July 2022
                <br>St. Edmund's Church, Taverham</br>
            </p>
            <% if(currentUser.attending === "unknown") {%> 
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#RSVP">RSVP</button>
            <% } else { %> 
                <h2 class="h4"><img src="/images/check.svg" alt="" class="img-thumbnail"> RSVP'd</h2>
                <p class="subtitle"><a data-bs-toggle="modal" data-bs-target="#RSVP" class="link-secondary" href="#"><small>Click here to change</small></p></a>
            <% } %> 
        </div>
    </div>

<div class="row pt-5 pb-2">
    <div class="col-sm-12 col-md-6 d-inline text-center my-auto">
        <h2>The Day</h2>
        <p class="lead">Join us!</p>
        <p>You are warmly invited to join us on our wedding day, for a ceremony in the church and then an informal
            time of drinks and cake after the ceremony!</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <img class="img-flex img-restrained"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/St_Edmund%27s_church_Taverham_Norfolk_%283683718801%29.jpg/1200px-St_Edmund%27s_church_Taverham_Norfolk_%283683718801%29.jpg"
            alt="">
    </div>
</div>
</div>

<div class="modal fade" id="RSVP" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">RSVP -
                <% if(currentUser.attending === "yes") { %>
                    <%= "attending" %> 
                <% } else if (currentUser.attending === "no") { %>
                    <%= "not attending" %> 
                <% } else if (currentUser.attending = "unknown") { %>
                    <%= "unknown" %>  
                <% } %> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/wedding" method="POST" novalidate>
                    <div class="mb-3">
                        <% if(!currentUser.plusOnes.length) {%>
                            <p class="lead"><%= currentUser.username %></p>
                        <% } else if(currentUser.plusOnes.length > 0 && currentUser.plusOnes[0] !== "") { %>
                            <p class="lead text-center"><%= currentUser.username%>'s Family:</p>
                            <ul>
                                <% for(members of currentUser.plusOnes) { %>
                                    <li class=><%= members %></li>
                                <% } %> 
                            </ul>
                            <hr>
                        <% } %> 

                    <div class="form-check mt-3">
                        <input type="radio" class="form-check-input" id="rsvp1" name="attending" value="yes" required   
                        <% if(currentUser.attending === "yes") { %>
                            <%="checked"%> 
                        <% } %> >
                        <label class="form-check-label" for="rsvp1">I can attend</label>
                      </div>

                      <div class="form-check mb-3">
                        <input type="radio" class="form-check-input" id="rsvp2" name="attending" value="no" required 
                        <% if(currentUser.attending === "no") { %>
                            <%="checked"%> 
                        <% } %> >
                        <label class="form-check-label" for="rsvp2">I cannot attend</label>
                        <div class="invalid-feedback">Please select one of the boxes</div>
                      </div>

                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>